on:
  push:
    branches:
    - main
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-15-intel, windows-latest]
        jvm: ['8', '21']
        include:
          - os: "macos-15"
            jvm: '21'
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'npm'

    - name: Build
      shell: bash -l {0}
      run: |
        npm ci
        test "$OSTYPE" != "msys" || npm run format
        npm run all

    # create an sbt file to enable sbt caching
    - run: echo 'name := "foo"' > build.sbt
    - id: cs-setup
      uses: ./
      with:
        jvm: ${{ matrix.jvm }}
        apps: sbt sbtn ammonite bloop

    # - uses: coursier/cache-action@v5
    - run: echo cs-version=${{ steps.cs-setup.outputs.cs-version }}
    - run: echo $PATH

    # test Java
    - run: echo $JAVA_HOME
    - run: java -version
    - run: cs java -version

    # test installed apps
    - run: sbtn.bat show name </dev/null
      shell: bash
      if: runner.os == 'Windows'
    - run: sbtn show name
      if: runner.os != 'Windows'
    - run: amm --help
    - run: bloop about
